body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*logo*/
.navbar-brand .logo {
  height: 40px;
  width: 150px;
}

/*imagen*/
.imagenfot{
  display: flex;
  margin-left: 5%;
  margin-top: 2%;
  width: 15%;
  border-radius: 100px;
}

.nombre{
  display: flex;
  width: 20%;
}

.descripcion{
  margin-left: 50px;
}

.datos{
  margin-left: 50px;
}

.educacion{
  margin-left: 50px;
}

.experiencias{
  margin-left: 50px;
}


/* Mis trabajos */




/* Contacto */
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}


/*Query*/
@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
